body {
  margin: 0;
  background-color: #f0f0f0;
}

#root {
  font-size: 0;
  max-width: 3.75rem;
  margin: 0 auto;
  background-color: #fff;
}

#config {
  padding: 0.15rem;
  font-size: 0.16rem;
}

#about h1 {
  margin: 0;
  font-size: 0.24rem;
}

.form-field {
  border: 0.01rem solid #ccc;
  margin-top: 0.1rem;
  padding: 0.06rem;
}

.form-field_horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-field .title {
  font-weight: bold;
  font-size: 0.16rem;
}

#status {
  width: 0.24rem;
  height: 0.24rem;
  margin: 0;
  display: block;
  cursor: pointer;
}

#rule {
  box-sizing: border-box;
  border: 0.01rem solid #ccc;
  padding: 0.06rem;
  width: 100%;
  font-size: 0.16rem;
  margin-top: 0.06rem;
}

.btns-field {
  margin-top: 0.1rem;
}

.btn_block {
  text-align: center;
  padding: 0.15rem 0;
  border: 0.01rem solid;
  display: block;
  width: 100%;
  font-size: 0.16rem;
  cursor: pointer;
}

.btn_submit {
  background-color: #06ae56;
  color: #fff;
}

.hint-field {
  display: none;
}

.hint-field_visible {
  display: block;
}

.mask {
  width: 100%;
  max-width: 3.75rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.hint {
  font-size: 0.16rem;
  padding: 0.15rem;
  width: fit-content;
  max-width: 2rem;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hint_success {
  background-color: #fff;
  border: 0.01rem solid #06ae56;
  color: #06ae56;
}

.hint_error {
  background-color: #fff;
  border: 0.01rem solid #fa5151;
  color: #fa5151;
}
